{
  "extends": [
    "airbnb-base",
    "plugin:unicorn/recommended"
  ],
  "plugins": [
    "unicorn"
  ],
  "rules": {
    "unicorn/prefer-module": "off",
    "unicorn/prefer-node-protocol": "off",
    "no-console": "off"
  }
}
